DATABASE_URL=postgresql://postgres.srozjgrodhxmtpfvmwgq:LBY6Tk0UIJyeNQa5@aws-1-us-east-2.pooler.supabase.com:6543/postgres
JWT_SECRET=troque_por_uma_chave_super_secreta_aleatoria
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_URL=https://seu-app.vercel.app